[core]
	# プッシュするときに改行コードをLFで揃える
	autocrlf = input

	# 常に読み込まれるgitignoreファイルを指定する
	excludesFile = ~/.config/git/ignore

	# git diffしたときの文字コードをutf-8にする
	pager = "LESSCHARSET=utf-8 less -cmN"


[alias]
	# git diffしたときに、改行コードを気にしないようにする
	diff = diff -w
	root = rev-parse --show-toplevel


[pull]
	rebase = false


[include]
	path = ~/.gitconfig.local


[init]
	defaultBranch = main


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true


[user]
	name = yu-ko-ba
	email = 59269129+yu-ko-ba@users.noreply.github.com
