.DS_Store
.config/*
!.config/nvim/init.vim
!.config/nvim/plugin_settings/
!.config/nvim/toml/
!.config/fish/
!.config/brewfile/
.vim/
.config/nvim/colors
.config/nvim/colors/
.python_history
.bash_history
.latest_brew_doctor_result
.ok_brew_doctor_result
.config/nvim/HelloKt.class