[core]
    # 改行コードを変更しないようにする
    autocrlf = false

    # git diffしたときの文字コードをutf-8にする
    pager = "LESSCHARSET=utf-8 less -cmN"

[alias]
    # git diffしたときに、改行コードを気にしないようにする
    diff = "diff -w"

[include]
    path = ~/.gitconfig.local
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
