.DS_Store
.config/*
!.config/fish
.config/fish/*
!.config/fish/config.fish
!.config/fish/functions
!.config/git
!.config/kitty
!.config/starship.toml
.vim/
.python_history
.bash_history
*.bak
.docker/*
!.docker/config.json
__pycache__/
