set scrolloff=5

set incsearch

map Q gq

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

function! InsertEndSemicolon() abort
    let s:currentPosition = getpos('.')

    if !(getline('.') =~ ';$')
        execute ':normal A;'
    endif

    call setpos('.', s:currentPosition)
endfunction

inoremap <silent> ;<ESC> <ESC>:call InsertEndSemicolon()<CR>

set clipboard+=unnamed
